<h1><%= @user.name %>のページ</h1>

<% if current_user %>
<% else %>
<h2>★投稿一覧に行くにはログインしてください★</h2>
<% end %>


<p>プロフィール:
<%= image_tag(@user.profile.url) if @user.profile && @user.profile.url %>
</p>

<p>メールアドレス: <%= @user.email %></p>


<% if current_user %>
<button type="button" class="btn btn-default">
<%= link_to 'Index', pictures_path %></button>
<% else %>
<% end %>


<button type="button" class="btn btn-default">
<%= link_to 'Edit', edit_user_path(@user) %></button>


<button type="button" class="btn btn-default">
<%= link_to 'Your favorite', favorite_path(:id) %></button>
